
@model AddEntryVm
@{
    ViewData["Title"] = "Add Entry";
}

<div class="container">
    <div class="row">
        <div class="col">
            <form asp-action="AddEntry" asp-controller="Jounral" class="border border-light p-5">
                <div asp-validation-summary="All" class="text-danger"></div>


                <div class="form-group">
                    <label>@SharedLocalizer.GetLocalizedHtmlString("EntryNo")</label>
                    <input class="form-control" asp-for="EntryNo" />
                </div>

                <div class="form-group">
                    <label>@SharedLocalizer.GetLocalizedHtmlString("EntryDate")</label>
                    <input class="form-control" asp-for="EntryDate" type="date" />
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("AccountName")</th>
                            <th scope="col" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("Explanation")</th>
                            <th scope="col" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("Debit")</th>
                            <th scope="col" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("Credit")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Entries.Count; i++)
                        {
                            <tr id="rowId">
                                <td>
                                    <select asp-for="Entries[i].AccountChart" asp-items="Model.Entries[i].AccountCharts"></select>
                                </td>
                                <td> <input /> </td>
                                <td> <input type="number" />  </td>
                                <td> <input type="number" /> </td>
                            </tr>
                        }


                    </tbody>
                </table>


                <button class="btn btn-primary" type="submit">@SharedLocalizer.GetLocalizedHtmlString("Submit")</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showRow() {
        var row = document.getElementById("rowId");
        if (row.hidden === true) {
            row.hidden = false
        }
    }
</script>
