@model List<AccountChartTreeVm>
@{
    ViewData["Title"] = "AccountChart";
}

<div class="container">

    <div class="row m-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("AccountNo")</th>
                    <th scope="col" class="text-center">@SharedLocalizer.GetLocalizedHtmlString("AccountName")</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    @if (!Model[i].IsDetailAccount)
                    {
                        <tr>
                            <td>@Model[i].AccountNo</td>
                            <td>@Model[i].NameAr</td>
                            <td>
                                <a asp-controller="AccountChart" asp-action="GetAccount" asp-route-v="@Model[i].AccountNo" asp-route-op="@CrudOp.Add" >@SharedLocalizer.GetLocalizedHtmlString("Add")</a>
                            </td>
                            <td>
                                <a asp-controller="AccountChart" asp-action="GetAccount" asp-route-v="@Model[i].AccountNo" asp-route-op="@CrudOp.Edit">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a>
                            </td>
                            <td>
                                <a asp-controller="AccountChart" asp-action="GetAccount" asp-route-v="@Model[i].AccountNo" asp-route-op="@CrudOp.Delete">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Model[i].AccountNo</td>
                            <td>@Model[i].NameAr</td>
                            <td>
                                <a asp-controller="AccountChart" asp-action="GetAccount" asp-route-v="@Model[i].AccountNo" asp-route-op="@CrudOp.Edit">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a>
                            </td>
                            <td>
                                <a asp-controller="AccountChart" asp-action="GetAccount" asp-route-v="@Model[i].AccountNo" asp-route-op="@CrudOp.Delete">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
                            </td>

                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
    <div class="row m-4">
        <div class="col-5 text-center">
            <form asp-controller="AccountChart" asp-action="PrintChartAccount" method="get">
                <input type="submit" value="Print" />
            </form>
            <a asp-action="PrintChartAccount" asp-controller="AccountChart">
                <img src="~/images/printer.png" />
                <h4>طباعة الشجرة</h4>
            </a>
        </div>
    </div>
</div>

